.form{
	padding: 15px;
	background: #777576;
	box-shadow: 0px 2px 2px #000;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000;
	position: fixed;
	top: 10%;
	left: 25%;
	z-index: 1030;
}
.form input{
margin-bottom: 5px;
margin-top: 5px;
padding: 3px;
width: 280px;
border-radius: 3px;
background: rgba(254,254,254,0.8); 
border-style: none;
color: #000;
}
.form input[type=submit]{
	background:  #4c4a4b;
	color: #fff;
}
.customList{
	width: 33%; 
	float:left;
	margin-right: 3%; 
}
.customList ul{
	padding: 15px; 
	border: solid lightgrey 2px; 
	border-radius: 7px; 
	max-height: 360px;
	max-width: 320px;
	width: 100%;
	float: left;
	overflow: auto;
}
@media screen and (max-width: 480px) {
	.form{
		top:2%;
		left: 0;
	}
	.customList{
		width: 90%;
	}

}