#addUser, #formDoor{
	padding: 15px;
	background: #777576;
	box-shadow: 0px 2px 2px #000;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000;
	position: fixed;
	top: 5%;
	left: 25%;
	z-index: 100;
}
#addUser input, #formDoor input{
margin-bottom: 5px;
margin-top: 5px;
padding: 3px;
width: 280px;
border-radius: 3px;
background: rgba(254,254,254,0.8); 
border-style: none;
color: #000;
}
#addUser input[type=submit], #formDoor input[type=submit]{
	background:  #4c4a4b;
	color: #fff;
}
